* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --text-primary: #007bff;
    --text-secondary: #6c757d;
    --gray-light: #aeb3b8;
    --text-success: #28a745;
    --text-danger: #dc3545;
    --text-warning: #ffc107;
    --text-info: #17a2b8;
    --text-light: #f8f9fa;
    --text-dark: #343a40;

    /* Personalizada */
    --bg-light: #f9f9f9;
    --gray-light-2:#dee2e6;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-family:Arial, Helvetica, sans-serif; */
    background:var(--bg-light);
}

section{
    padding:30px 0;
}

h2>img{
    width:50px;
}

.col-12>h2>img{
    width:40px;
}

.btn-dontDone{
    width:130px;
    height:50px;
    background:var(--gray-light);
    border:1px solid var(--text-secondary);
    border-radius:5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.btn-dontDone:hover {
    box-shadow: inset 0px 10px 15px -3px rgba(0,0,0,0.1);
    border:1px solid var(--text-secondary);
    background: var(--text-warning);
    transition: all .1s ease;
}

.btn-done{
    width:130px;
    height:50px;
    background:var(--gray-light);
    border:1px solid var(--text-secondary);
    border-radius:5px;
    box-shadow: inset 0px 10px 15px -3px rgba(0,0,0,0.1);
    border:1px solid var(--text-secondary);
    background: var(--text-warning);
    transition: all .1s ease;
}

.btn-done:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
    background:var(--gray-light);
    transition: all .1s ease;
}


/* Formulario de cargar tareas */

.formulario{
    border:1px solid var(--gray-light-2);
    padding:10px;
    border-radius:7px;
    background-color:#ffffff;
}

.activado {
    animation: changeBorder 1s ease;
}

@keyframes changeBorder {
    0% {
        border-color: var(--gray-light-2);
    }

    50% {
        border-color: var(--text-primary);
        box-shadow: 0 0 5px 5px rgba(0, 0, 255, 0.2), 0 0 10px 10px rgba(0, 0, 255, 0.07);
    }

    100% {
        border-color: var(--gray-light-2);
    }
}

.form-check{
    display:flex;
    gap:10px;
}
.form-check-input{
    width:35px;
    height:35px;
    cursor:pointer;
}
.form-check-label{
    display:flex;
    align-items:center;
}